extends layout
block content
  .container-fluid#background-css-setting
    //- ニコニココメントエリア
    .nico-comentArea
    p#nicoComent-input-area
      input(name="text", cols="10", rows="1" placeholder="コメントを入力" )#input-coment
      button#Button_send-coment コメント
    header.row
        .item-title-sub
          span#title-text #{subtitle}
    .row
      .Character_TopPage
        img#dott-m(src="images/pic/dott-m.png" alt="背景ドット１")
        img#dott-s(src="images/pic/dott-s.png" alt="背景ドット2")
        img(class="animated bounce faster")#cha-m(src="images/pic/f044.png" alt="男性キャラクター")
        img(class="animated bounce faster")#cha-f(src="images/pic/f050.png" alt="女性キャラクター")
