extends layout
block content
  #background-css-setting.container-fluid
    //- ニコニコ風コメントが流れるエリア
    .nico-comentArea

    .item-title-sub
      span#contest-title #{subtitle}
        i(class="fas fa-camera")
    
    header.container
      .row.justify-content-end.align-items-center
        .item-Icon-Setting.col-1
          img#Room-list(src="images/icon/list-unordered.png" alt="部屋アイコン" data-toggle="tooltip" title="部屋一覧")
        .item-Icon-Setting.col-1
          img#Room-make(src="images/icon/add-box-line.png" alt="部屋作成アイコン" data-toggle="tooltip" title="部屋を作成")
        .item-Icon-Setting.col-1
          img#Name-Setting(src="images/icon/user-smile-line.png" alt="設定アイコン" data-toggle="tooltip" title="プレイヤー設定")
        .item-Connection-Count.col-1
          img#connection-icon(src="images/icon/emotion-line.png" alt="接続人数アイコン")
          span#connectionCount

    main
      .row.justify-content-center
        .item-titleLogo.col-5
          img#dott-m(src="images/pic/dott-m.png" alt="背景ドット１")
          img#dott-s(src="images/pic/dott-s.png" alt="背景ドット2")
          img(class="animated bounce faster")#titlePic(src="images/pic/title-Logo.png" alt="タイトル画像")
        .item-Description-text.col-6
          span.marker-B 人狼くんとは？
            br
          span 人狼くんとは、パーティゲーム「人狼(ワンナイトルール)」をPCブラウザ上にて、みんなで楽しむウェブアプリです。
            a(href="http://1nite-jinro.mystrikingly.com/" target="_blank") (ワンナイトルールとは？)
            br
            br
          span.marker-Y 遊び方
            br
          span 1.「名前の設定」から、プレイ中に使用する名前を設定。
            br
          span 2.「部屋を作る」から部屋を作る。
            br
          span 　もしくは既にある部屋のコメントから任意の部屋に入室。
            br
            br
          span.marker-R ※注意
            br
          span ・このアプリはクッキーを使用しています。
            br
      .migisita.container
        .row.justify-content-end
          p#nicoComent-input-area
            input(name="text", cols="10", rows="1" placeholder="コメントを入力" )#input-coment
            button#Button_send-coment コメント