extends layout
block content
  section.left-area
    .Wrapper
      #backGround-moon
      img(src="../images/pic/f046.png", alt="イメージキャラクター")#backGround-jinroukun
      .name-plate-title-area
        span#name-display-title-area 

  section.right-area
    .Wrapper
      .Wrapper-niconicoArea
        p#nicoComent-input-area
        .nicoComeform
          input(name="text", cols="10", rows="1" placeholder="コメントを入力" )#input-coment
          button#Button_send-coment コメント
      .title-name 人狼くん
      .Description-text
        span.marker-B 人狼くんとは？
          br
        span 人狼くんとは、パーティゲーム「人狼(
          a(href="http://1nite-jinro.mystrikingly.com/" target="_blank") ワンナイトルール
          span )」をみんなで楽しむウェブアプリです。
          br
          br
        span.marker-Y 遊び方
          br
        span スタート時にプレーヤー各々に「村人」「人狼」「占い師」「怪盗」のロールが振り分けられます。
          | 誰が「人狼」かを推理して、人狼をみんなで投票で追い出しましょう。<br><br>見事、人狼を追い出せれば
          | 村人たちの勝利です！
      .login-now-area
        img(src="images/icon/user-smile-line.png", alt="ログインアイコン")#login-icon
        #login-now

      .Wrapper-editArea
        .edit-area
          .name-form
            .name-area 
              small name: 
              span#name-area-playerName ななしくん
            br
            br
            button.character-select-button キャラクター変更
            br
            input#name-input-area(name="username", cols="10", rows="1" ,maxlength="8",    placeholder="※８文字まで")
            br
            span 　
            button.name-select-button#name-save 保存
            button.name-select-button#name-cansel 戻る
            

