extends layout
block content
  #app
    .first-screen
      .background
      .text-area
      .log-title
        img#log-Nyobi.layer(src="images/icon/N_logo.png" alt="N予備校ロゴ")
        span#title-text.layer #{subtitle}
      .title-Character
        img#cha-m.layer(src="images/pic/f044.png" alt="男性キャラクター")
        img#cha-f.layer(src="images/pic/f050.png" alt="女性キャラクター")
      p#input-area.layer
        input(name="text", cols="10", rows="1" placeholder="コメントを入力してください。")#input-text
        button#Button_send-text 変更


