*{
  margin: 0;
  padding: 0px;
  font-family:'M PLUS Rounded 1c',sans-serif;
}

:root{
  --Background:#0f4c81;
  --Headline:#fffffe;
  --Paragraph:#FF6F61;
  --Button:#16161a;
  --Button-Text:#fffffe;
}

/*:::::::::::::::::::::::::::::::*/
/***** ニコニコ風コメント設定 ******/
/*:::::::::::::::::::::::::::::::*/

/*背景・グラデーションの設定*/
#background-css-setting{
  background-color: black;
  background-image: linear-gradient(
    -32deg,
    rgb(255, 255, 255) 25%,
    var(--Background) 25%,
    rgba(10, 15, 44, 0.8) 90%,
    rgba(10, 15, 44, 0.8) 100%
);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
}

/*ニコニコ風コメントの流れる範囲の設定*/
.nico-comentArea{
  position: fixed;
  height: 500px;
  width: 100vw;
  z-index: 1;
}


/*コメントを左から右に流す設定*/
.move-text{
  position: absolute;
  font-size: 20px;
  color:snow;
  text-shadow: 0px 0px 3px var(--Button);
  transform: translateX(100vw);
  white-space:nowrap;
  animation: NagareruComent 10s linear;
  animation-iteration-count: 1;
  z-index: 1;
}

/*ニコニコ風流れるコメントのアニメーション設定*/
@keyframes NagareruComent {
  100% {
    transform: translateX(-100%);
  }
}

/*ニコ風コメントインプットエリア*/
.NicoComentInputArea{
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 7;
}

/*:::::::::::::::::::::::::::::::*/
/***ニコニコ風コメント設定ここまで***/
/*:::::::::::::::::::::::::::::::*/



/*::::::::::::::::::::::::::::::::::*/
/********  　ヘッダー部設定　  ********/
/*::::::::::::::::::::::::::::::::::*/


/*コンテスト名の記述部*/
#contest-title{
  position: absolute;
  left:0px; top:0px;
  font-family:'M PLUS Rounded 1c',sans-serif; font-size: medium;
  color:#3D2B4B;
  background-color: rgb(0, 0, 0);
  z-index: 7;
}

/*ナビゲーションヘッダーレイアウト設定*/
header{
  position: absolute;
  top:10px;
  right: 10px;
  z-index: 7;
}

/*ナビアイコンにマウスが当たると拡大する設定*/
.item-Icon-Setting:hover{
  transform: scale(1.2);
}


/*接続人数表示エリア設定*/ /***********/
.item-Connection-Count{
  width: 60px; height: 26px;
  text-align: center;
  background-color: snow;
  border-radius:2px;
  padding: 1px;
}
/*接続人数アイコン*/
#connection-icon{
  float: left;
}
                    /*****************/


/*名前変更エリア*/  /*****************************/

/*名前変更インプット配置設定*/
.item-name-input-area{
  display: none;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin: 10px;
  color:snow;
  background-color: rgba(109, 54, 211, 0.9);
  border-radius:5px;
}
/*インプット部品のデコレーション設定*/
.input-Parts-setting{
  width:200px;
  color:var(--Headline);
  background-color: var(--Background);
}
/*名前変更ボタンの設定*/
#Button_change_userName{
	width: 80px;
	text-align: center;
	text-decoration: none;
  color: var(--Button-Text);
  background: var(--Button);
	border-radius: 3px;
  transition: .4s;
  box-shadow: 0 0 3px var(--Button-Text);
}
/*名前変更ボタンオンマウス時*/
#Button_change_userName:hover{
  background:var(--Button);
  color: var(--Paragraph);
}
/*データベースからデータが取れなかった時にでる文字の色*/
#error-div{
  color:red;
}
/*「現在のプレイヤー設定」部分*/
.display-nowName{
  font-size: 10px;
  padding: 3px;
  color:snow;
  background-color: var(--Background);
  border-radius: 2px;
}
                           /**********************/

/*キャラクターイラスト表示エリア*/
.item-char-area{
  position: relative;
  width:210px;
  height: 200px;
  margin: 15px;
  text-align: center;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px rgb(24, 4, 46));
  border-radius:3px;
}
/*名前表示エリア*/
.userName{
  position: absolute;
  right: 5px;
  bottom: 10px;
  color:var(--Headline);
  text-shadow: 0 0 4px black;
  font-size: 20px;
  background-image: url(../images/pic/nameplateR300x100.png);
}
/*キャラクターイラストサイズ設定*/
#cha{
  width: 150px;
  height: 200px;
}

/*部屋作成画面*/
.item-room-input-area{
  display: none;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
  margin: 10px;
  margin-right: 180px;
  color:snow;
  background-color: rgba(211, 98, 54, 0.5);
  border-radius:5px;
}

#Button_makeRoom{
	width: 200px;
	text-align: center;
	text-decoration: none;
  color: var(--Button-Text);
  background: var(--Button);
	border-radius: 3px;
  transition: .4s;
  box-shadow: 0 0 3px var(--Button-Text);
}
/*名前変更ボタンオンマウス時*/
#Button_makeRoom:hover{
  background:var(--Button);
  color: var(--Paragraph);
}

/*::::::::::::::::::::::::::::::::::::::::::*/
/********  　ヘッダー部設定ここまで　  ********/
/*::::::::::::::::::::::::::::::::::::::::::*/



/*::::::::::::::::::::::::::::::::::::::*/
/******  　トップメインページ設定　  ******/
/*::::::::::::::::::::::::::::::::::::::*/

/*メイン部設定*/
main{
  position: relative;
  margin: auto;
  width: 90vw;
  min-width: 1000px;
  height: 100vh;
  overflow: hidden;
}

/*タイトル画像のレイアウトDIV*/
.item-titleLogo{
  position: relative;
  margin-left: 2vw;
  height: 100vh;
  width: 38vw;
  min-width: 400px;
}

/*タイトル画像*/
#titlePic{
  position: absolute;
  bottom:0px;
  height: 97vh;
  z-index: 3;
}

/*右側サイドエリア*/
.item-Description-Area{
  margin: auto;
  padding: 8px;
  z-index: 5;
}

/*説明テキスト*/
.item-Description-text{
  display: none;
  margin: auto;
  font-size: 14px;color:snow;
  padding: 8px;
}

.item-RoomList{
  margin: auto;
}

.item-RoomList > table{
  text-align: center;
  background-color: rgba(8, 44, 44, 0.3);
  color:var(--Button-Text);
}

/*ドッドmiddle*/
#dott-m{
  position: absolute;
  height: 120px;
  left:0px;
  bottom: 50vh;
  z-index: 1;

  animation-name: fadein-long;
  /* 所要時間 */
  animation-duration: 15s; 
  /* 加速 */
  animation-timing-function: ease;
  /* 開始の遅延 */
  animation-delay: 1s;
  /* 回数 */
  animation-iteration-count: infinite;
  /* 再生方向 */
  animation-direction: alternate;
  /* 再生前後のプロパティ適用 */
  animation-fill-mode: both;
  /* 再生・停止 */
  animation-play-state: running;
}

/*ドッドsmall*/
#dott-s{
  position: absolute;
  height: 70px;
  right: 0px;
  bottom: 5vh;
  z-index: 1;

  animation-name: fadein-long;
  /* 所要時間 */
  animation-duration: 15s; 
  /* 加速 */
  animation-timing-function: ease;
  /* 開始の遅延 */
  animation-delay: 2s;
  /* 回数 */
  animation-iteration-count: infinite;
  /* 再生方向 */
  animation-direction: alternate;
  /* 再生前後のプロパティ適用 */
  animation-fill-mode: both;
  /* 再生・停止 */
  animation-play-state: running;
}

@keyframes fadein-long{
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.marker-B {
  background: linear-gradient(transparent 70%, #c1e0ff 100%);
}

.marker-Y {
  background: linear-gradient(transparent 70%, #fff9c1 100%);
}

.marker-R {
  background: linear-gradient(transparent 70%, #ffc1c1 100%);
}