body {
  padding: 50px;
  background-color: var(--Background);
  color:var(--Paragraph);
}

.moon{
  position: relative;
  width: 640px;
  height: 480px;
}

/*基本カラーパレット*/
:root{
  --Background:black;
  --Headline:#fffffe;
  --Paragraph:#94a1b2;
  --Button:#16161a;
  --Button-Text:#fffffe;
}


